<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    
    <style>
    		.alert {
			    padding: 20px;
			    background-color:	#CD5C5C;
			    margin-right:10px;
			
			
			    color: white;
			}
			
				
				.alert2 {
			    padding: 20px;
			    background-color:#48D1CC	;
			    margin-right:10px;
			
			
			    color: white;
			}
				.closebtn {
			    margin-left: 15px;
			    color: white;
			    font-weight: bold;
			    float: right;
			    font-size: 22px;
			    line-height: 20px;
			    cursor: pointer;
			    transition: 0.3s;
			}
			
			.closebtn:hover {
			    color: black;
			}
    </style>
    
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
	<br>
    <div class="container-fluid">
      
        <div th:switch="${message}">
			<div th:case="'tidakcocok'">
				<div class="alert">
		 		 <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
		 		 <strong>Invalid ! </strong>Password Lama tidak cocok!
				</div>
			</div>
			
			<div th:case="'success'">
				<div class="alert2">
		 		 <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
		 		 <strong>Sukses ! </strong> Password Berhasil diubah.
				</div>
			</div>
			
			<div th:case="'salahketentuan'">
				<div class="alert">
		 		 <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
		 		 <strong>Invalid ! </strong> Password minimal terdiri dari 8 karakter
				</div>
			</div>
			
			<div th:case="'konfirmasi'">
				<div class="alert">
		 		 <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
		 		 <strong>Invalid ! </strong> Konfirmasi password tidak cocok
				</div>
			</div>
			
			<div th:case="'tidakhurufangka'">
				<div class="alert">
		 		 <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
		 		 <strong>Invalid ! </strong> Password harus terdiri dari huruf dan angka
				</div>
			</div>
		</div>
		
		<h2 th:text=" 'Hello ' + ${#httpServletRequest.remoteUser} + ' !'">Login as</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Update Password
                    </div>
                    <div class="card-body">
                    	<form th:action="@{/user/updatepassword}" method="post">
                    		<div class="row form-group">
                    			<label class="col-sm-4"> Password Lama:</label>
                    			<input class="col-sm-8 form-control input-sm" type="password" name="passwordLama"/>
                    		</div>
                    		<div class="row form-group">
                    			<label class="col-sm-4"> Password Baru:</label>
                    			<input class="col-sm-8 form-control input-sm"  required type="password" name="passwordBaru"/>
                    		</div>
                    		<div class="row form-group">
                    			<label class="col-sm-4"> Konfirmasi Password Baru: </label>
                    			<input class="col-sm-8 form-control input-sm" name ="konfirmasiPassword" type="password"/>
                    		</div>
                    		<div>
                    			<button type="submit" class="btn btn-primary" >Simpan</button>
                    		</div>
                    	</form>
                    </div>
                </div>
            </div>
        </div>
	</div>
</body>

</html>